*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: Dancing;
  src: url("../fonts/static/DancingScript-Regular.ttf");
}
@font-face{
  font-family: Oswald;
  src: url("../fonts/Oswald/static/Oswald-Medium.ttf");
}

body{
  font-family: Oswald, sans-serif;
  font-weight: 100;
}

a{
  text-decoration: none;
}

header{
  background: linear-gradient(103deg, rgba(57,57,57,1) 20%, rgba(17,16,16,1) 100%);
  width: 100%;
}

h3{
  color: #fff;
  text-align: center;
  font-size: 38px;
  padding: 20px;
  font-weight: 700;
}

h3::after{
  content: '';
  position: relative;
  width: 200px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}


nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01c1d5;
}

nav  ul li{
  color: #000;
  list-style: none;
  font-size: 32px;
  padding: 5px;
  margin-right: 20px;
}
nav ul li a{
  color: #000;
  font-weight: 400;
}

nav ul li a:hover{
  border-bottom: 2px solid #000;
  transition: 0.5s ease;
  color: #fff;
}


section h1{
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}
section h2{
  font-size: 72px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}


header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  font-size: 52px;
  list-style: none;
  margin: 30px 20px;
}


ul li a{
  color: #fff;
}

ul li a img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

/* lista de icone redes sociais */

.subir:hover{
  transform: translateY(-20%)
}

.habilidades{
  background-color: #000000 ;
  width: 100%;
}

.habilidades ul {
  display: flex;
  justify-content: center;
}


.habilidades ul li{
  margin-right: 4px;
}

.habilidades ul li:hover{
  transform: translateY(-20%)
}

.habilidades ul li  img{
   max-width: 80px;
    width: 80px;
   min-height: 80px;
   height: 80px;
}
.habilidades ul li a img:hover{
 transform: translateY(-16%);
}

.portifolio{
  background: linear-gradient(103deg, rgba(57,57,57,1) 20%, rgba(17,16,16,1) 100%);
  width: 100%;
}


.portifolio .portifolio-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.screen {
  width: 350px;
  height: 250px;
  border: 2px solid #fff;
  box-shadow: rgba(255,255 255, 0.2) 0px 3px 7px;
  margin-bottom: 20px;
}
.s0{
  background: url("../img/projetos/mago.webp");
  background-position: top;
  background-size: cover;
  transition: background-position 8s linear;
}
.s1{
  transition: background-position 11s linear;
  background: url("../img/projetos/guibarber.webp");
  background-position: top;
  background-size: cover;
}
.s3{
  transition: background-position 11s linear;
  background: url("../img/projetos/huge.webp");
  background-position: top;
  background-size: cover;
}
.s4{
  background: url("../img/projetos/testimonials.webp");
  background-position: top;
  background-size: cover;
}


.screen:hover {
  background-position: bottom;
}

.sobre{
  background: #000;
}



.sobre .test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .test img{
  max-width: 350px;
  width: 350px;
  max-height: 350px;
  height: 350px;
  margin: 40px 20px ;
  border-radius: 10px;
  border: 10px solid #fff;
}

.sobre .sobre-perfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre .test p{
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.sobre .test blockquote{
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Dancing;
}


footer{
  background: #01c1d5;
  width: 100%;
}
footer p{
  color: #000;
  text-align: center;
}

@media screen and (min-width: 1px) and (max-width: 480px) {
  h3{
    font-size: 26px;
  }

  nav ul  {
    margin: 0 2px;
  }

  nav ul li{
    font-size: 22px;
    margin: 0 6px;
  }

  section h1{
    font-size: 28px;
  }
  section h2{
    font-size: 42px;
  }
  
  ul li {
    font-size: 28px;
  }

  ul li a img{
    width: 40px;
  }

  .subir:hover{
    transform: translateY(0)
  }
  
  .habilidades ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .habilidades ul li:hover{
    transform: translateY(0)
  }
  
  .habilidades ul li  img{
    max-width: 60px;
     width: 60px;
     max-height: 60px;
     height: 60px;
  }



  
  .portifolio .portifolio-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   .portifolio-imgs a img{
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
  }



  
    
  .sobre .test{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }
  
  .sobre .test img{
   max-width: 260px;
    width: 260px;
    height: 260px;
    max-height: 260px;
  }
  
  .sobre .sobre-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sobre .test p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 6px;
  }
  .sobre .test blockquote{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
    
  footer p{
     font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 968px) {
  h3{
    font-size: 30px;
  }


  nav  ul li{
    font-size: 24px;
  }


  section h1{
    font-size: 30px;
  }
  section h2{
    font-size: 52px;
  }
  
  ul li {
    font-size: 42px;
  }

  
  .subir:hover{
    transform: translateY(0)
  }
  
  .habilidades ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .habilidades ul li  img{
    max-width: 60px; 
    width: 60px;
     height: 60px;
     max-height: 60px;
  }

  .habilidades ul li:hover{
    transform: translateY(0)
  }


  
  .portifolio .portifolio-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   .portifolio-imgs a img{
    max-width: 200px;
    width: 200px;
    height: 200px;
    max-height: 200px;
  }
  
    
  .sobre .test{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    
  .sobre .sobre-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sobre .test p{
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 6px;
  }
  .sobre .test blockquote{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 5px;
  }
    
  footer p{
     font-size: 16px;
  }
}
