@import '_variables';


.habilidades{
    background-color: $backgroundcolor-secondary;
    width: 100%;
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin: 20px 10px;
            list-style: none;
            &:hover{
                transform: translateY(-20%)
            }
            img{
                max-width: 80px;
                width: 80px;
                min-height: 80px;
                height: 80px;
                &:hover{
                    transform: translateY(-16%);
                }
            }
        }
    }

}