section { 
   h1{
    font-size: 32px;
    color: $fontTitle-color;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 2px;
    font-weight: 700;
   }
   h2{
    font-size: 72px;
    color: $fontTitle-color;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
   }
   
}