$backgroundcolor-primary:  linear-gradient(103deg, rgba(57,57,57,1) 20%, rgba(17,16,16,1) 100%);
$backgroundcolor-secondary: #000000;
$backgroundcolor-terciary: #01c1d5;
$fontcolor-primary: #000000;
$fontTitle-color:#ffffff;
$mobile-width-min: 1px;
$mobile-width-max: 480px;
$tablet-width-min: 481px;
$tablet-width-max: 968px