@import '../variables';


@media screen and (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
    h3{
        font-size: 26px;
    }
    nav ul{
        font-size: 22px;
        margin: 0 6px;
    }
    section h1 {
        font-size: 28px;
    }
    section h2 {
        font-size: 42px;
    }
    ul li {
        font-size: 28px;
    }
    ul li a img {
        width: 40px;
    }
    .subir:hover {
        transform: translateY(0);
    }
    .habilidades ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .habilidades ul li:hover {
        transform: translateY(0);
    }
    .habilidades ul li img {
        max-width: 60px;
        width: 60px;
        max-height: 60px;
        height: 60px;
    }
    .portifolio .portifolio-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .portifolio-imgs a img {
        width: 200px;
        max-width: 200px;
        height: 200px;
        max-height: 200px;
    }
    .sobre .test {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre .test img {
        max-width: 260px;
        width: 260px;
        height: 260px;
        max-height: 260px;
    }
    .sobre .sobre-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre .test p {
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding: 6px;
    }
    .sobre .test blockquote {
        margin-top: 10px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
    footer p {
        font-size: 12px;
    }
}